In [1]:
import datetime

In [4]:
format = '%Y-%m-%d %H:%M:%S'

datetime_str = '2022-08-31 10:17:30'

print(datetime_str)
print(type(datetime_str))

2022-08-31 10:17:30
<class 'str'>

In [5]:
date = datetime.datetime.strptime(datetime_str, format)

print(date)
print(type(date))

2022-08-31 10:17:30
<class 'datetime.datetime'>

In [6]:
datetime.date.today()

datetime.date(2022, 8, 31)

In [7]:
date_str = date.strftime(format)

print(date_str)
print(type(date_str))

2022-08-31 10:17:30
<class 'str'>

### datetime format

- %y: 년도를 축약해서 표시  ex)'22'
- %Y: 년도 전제를 표시  ex)'2022'
- %b: 축약이 된 월 이름 ex)'Mar'
- %B: 월 이름   ex)'March'
- %m: 월을 숫자로 표시  ex)'08'
- %d: 일을 숫자로 표시  ex)'31'
- %H: 시를 24시 기준으로 표시
- %I: 시를 12시 기준으로 표시
- %M: 분을 표시
- %S: 초를 표시
- %a: 요일의 이름을 축약해서 표시
- %A: 요일의 이름을 표시
- %w: 요일을 숫자로 표시    ex)일: 0, 월: 1, •••, 토: 6

In [11]:
import pandas as pd

In [13]:
# 나노초를 기준으로 1970-01-01 00:00:00에서 나노초 만큼 더한 날짜가 출력

pd.Timestamp(100000000000000000)

Timestamp('1973-03-03 09:46:40')

In [14]:
# unit 'D' 기준을 일로 변경

pd.Timestamp

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
pd.Timestamp('2022-06')

Timestamp('2022-06-01 00:00:00')

In [16]:
pd.to_datetime('2022-01-01 12')

Timestamp('2022-01-01 12:00:00')

In [17]:
pd.to_datetime(['2022-01-01', '2022-08-31'])

DatetimeIndex(['2022-01-01', '2022-08-31'], dtype='datetime64[ns]', freq=None)

In [18]:
pd.date_range('2022-01-01', '2022-08-31')

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-08-22', '2022-08-23', '2022-08-24', '2022-08-25',
               '2022-08-26', '2022-08-27', '2022-08-28', '2022-08-29',
               '2022-08-30', '2022-08-31'],
              dtype='datetime64[ns]', length=243, freq='D')

In [19]:
pd.date_range('2022-01-01', '2022-08-31', freq = 'M')           # freq는 출력되는 날짜의 기준을 설정 ex) 'Y'는 년도, 'M'는 월...

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31'],
              dtype='datetime64[ns]', freq='M')

In [20]:
pd.Timedelta('1 days')

Timedelta('1 days 00:00:00')

In [21]:
pd.Timestamp('2022-08-31') + pd.Timedelta('1 days 03:00:00')

Timestamp('2022-09-01 03:00:00')

In [22]:
pd.Timedelta(days = 1, seconds = 30)

Timedelta('1 days 00:00:30')