In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
# 결측지

s1 = pd.Series([1, np.nan, 3, 4, 5])
s2 = pd.Series([1, 2, np.nan, 4, 5])
s3 = pd.Series([1, 2, 3, np.nan, 5])

print(s1)
print(s2)
print(s3)

0    1.0
1    NaN
2    3.0
3    4.0
4    5.0
dtype: float64
0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64
0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
dtype: float64

In [4]:
# Series를 합쳐서 DataFrame 형태 변환

df = pd.DataFrame({
    'S1' : s1,
    'S2' : s2,
    'S3' : s3
})

df

    S1   S2   S3
0  1.0  1.0  1.0
1  NaN  2.0  2.0
2  3.0  NaN  3.0
3  4.0  4.0  NaN
4  5.0  5.0  5.0

In [5]:
#결측치를 체크 = isna() - 결측치가 아닌 값은 False로 룰력

df.isna()

      S1     S2     S3
0  False  False  False
1   True  False  False
2  False   True  False
3  False  False   True
4  False  False  False

In [6]:
df.isna().sum()     # 결측치 검사 후 결측치의 개수 표시

S1    1
S2    1
S3    1
dtype: int64

In [7]:
# dropna()함수는 결측치가 존재하는 행이나 열을 삭제
# axis = 0은 행을 기준으로 삭제
# axis = 1은 열을 기준으로 삭제
# rows, columns 사용이 가능

# df.dropna(axis = 1)
df.dropna(axis = 'rows')

    S1   S2   S3
0  1.0  1.0  1.0
4  5.0  5.0  5.0

In [8]:
df.describe()

             S1        S2        S3
count  4.000000  4.000000  4.000000
mean   3.250000  3.000000  2.750000
std    1.707825  1.825742  1.707825
min    1.000000  1.000000  1.000000
25%    2.500000  1.750000  1.750000
50%    3.500000  3.000000  2.500000
75%    4.250000  4.250000  3.500000
max    5.000000  5.000000  5.000000

In [48]:
# 외부의 csv 파일을 데이터프레임으로 로드

sales_df = pd.read_csv('../csv/Sales Records.csv')

sales_df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,12/28/2015,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,1/13/2011,141515767,2/1/2011,6515,154.06,90.93,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,9/11/2012,500364005,10/6/2012,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,10/27/2015,127481591,12/5/2015,3491,47.45,31.79,165647.95,110978.89,54669.06

In [13]:
# 결측치 확인

sales_df.isna().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

In [14]:
sales_df.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+04,10000.000000,10000.000000,10000.000000,1.000000e+04,1.000000e+04,1.000000e+04
mean,5.498719e+08,5002.855900,268.143139,188.806639,1.333355e+06,9.382658e+05,3.950893e+05
std,2.607835e+08,2873.246454,217.944092,176.445907,1.465026e+06,1.145914e+06,3.775550e+05
min,1.000892e+08,2.000000,9.330000,6.920000,1.679400e+02,1.245600e+02,4.338000e+01
25%,3.218067e+08,2530.750000,109.280000,56.670000,2.885511e+05,1.647855e+05,9.832914e+04
50%,5.485663e+08,4962.000000,205.700000,117.110000,8.000512e+05,4.816058e+05,2.890990e+05
75%,7.759981e+08,7472.000000,437.200000,364.690000,1.819143e+06,1.183822e+06,5.664227e+05
max,9.999342e+08,10000.000000,668.270000,524.960000,6.680027e+06,5.241726e+06,1.738178e+06

In [15]:
# 원본 데이터를 유지
# 새로운 변수에 데이터를 복사해서 데이터를 수정 - 데이터를 수정하는 과정에서 실수가 나는 경우 다시 원본을 복사해서 쓰기 위함

sales_df_copy = sales_df.copy()

In [16]:
df.dropna(axis = 'rows')

In [18]:
sales_df_copy['Order Date']

0      2011-01-27
1      2015-12-28
2      2011-01-13
3      2012-09-11
4      2015-10-27
          ...
9995   2014-07-15
9996   2012-10-27
9997   2013-02-14
9998   2017-02-19
9999   2016-04-12
Name: Order Date, Length: 10000, dtype: datetime64[ns]

In [23]:
# Ship Date 컬럼의 데이터를 datetime으로 형태를 변경

sales_df_copy['Ship Date'] = pd.to_datetime(sales_df_copy['Ship Date'], format = '%m/%d/%Y')

In [24]:
sales_df_copy['Ship Date']

0      2011-02-12
1      2016-01-23
2      2011-02-01
3      2012-10-06
4      2015-12-05
          ...
9995   2014-07-31
9996   2012-11-01
9997   2013-03-20
9998   2017-02-22
9999   2016-04-16
Name: Ship Date, Length: 10000, dtype: datetime64[ns]

In [26]:
sales_df_copy

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2011-02-12,4484,651.21,524.96,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,2016-01-23,1075,47.45,31.79,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,141515767,2011-02-01,6515,154.06,90.93,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,500364005,2012-10-06,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,127481591,2015-12-05,3491,47.45,31.79,165647.95,110978.89,54669.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Asia,Laos,Beverages,Online,H,2014-07-15,199342048,2014-07-31,8597,47.45,31.79,407927.65,273298.63,134629.02
9996,Europe,Liechtenstein,Cosmetics,Online,C,2012-10-27,763044106,2012-11-01,562,437.20,263.33,245706.40,147991.46,97714.94
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2013-02-14,848579967,2013-03-20,2524,154.06,90.93,388847.44,229507.32,159340.12
9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2017-02-19,298185956,2017-02-22,8706,421.89,364.69,3672974.34,3174991.14,497983.20
9999,Asia,Mongolia,Snacks,Offline,M,2016-04-12,824410903,2016-04-16,361,152.58,97.44,55081.38,35175.84,19905.54

In [30]:
# 컬럼의 이름을 변경

sales_df_copy.columns = ['권역', '국가', '상품종류', '판매채널', '우선순위', '주문일자', '주문ID',
                        '발송일자', '판매단위', '단가', '원가', '총수익', '총비용', '총이윤']

sales_df_copy.head()

,권역,국가,상품종류,판매채널,우선순위,주문일자,주문ID,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2011-02-12,4484,651.21,524.96,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,2016-01-23,1075,47.45,31.79,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,141515767,2011-02-01,6515,154.06,90.93,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,500364005,2012-10-06,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,127481591,2015-12-05,3491,47.45,31.79,165647.95,110978.89,54669.06

In [35]:
# 숫자값 반올림하는 함수
# round(n): n의 값은 소수점 자리 수

a = 3.6666

print(a.__round__(1))

3.7

In [36]:
sales_df_copy['원가'].round(0)

0       525.0
1        32.0
2        91.0
3       503.0
4        32.0
        ...
9995     32.0
9996    263.0
9997     91.0
9998    365.0
9999     97.0
Name: 원가, Length: 10000, dtype: float64

In [44]:
sales_df_copy['원가'] = sales_df_copy['원가'].round(0).astype('int')
sales_df_copy['단가'] = sales_df_copy['단가'].round(0).astype('int')

In [45]:
sales_df_copy.head()

,권역,국가,상품종류,판매채널,우선순위,주문일자,주문ID,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2011-02-12,4484,651,525,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,2016-01-23,1075,47,32,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,141515767,2011-02-01,6515,154,91,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,500364005,2012-10-06,7683,668,503,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,127481591,2015-12-05,3491,47,32,165647.95,110978.89,54669.06

In [46]:
# 단가라는 칼럼은 '버림'으로 해서 int형을 변경
# astype('int')

sales_df_copy['단가'] = sales_df_copy['단가'].astype('int')

In [47]:
sales_df_copy.head()

,권역,국가,상품종류,판매채널,우선순위,주문일자,주문ID,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2011-02-12,4484,651,525,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,2016-01-23,1075,47,32,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,141515767,2011-02-01,6515,154,91,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,500364005,2012-10-06,7683,668,503,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,127481591,2015-12-05,3491,47,32,165647.95,110978.89,54669.06

In [50]:
# 총수익, 총비용, 총이윤 3개의 칼럼의 값들은 반올림하여 int형을 데이터로 변경

sales_df_copy[['총수익', '총비용', '총이윤']] = sales_df_copy[['총수익', '총비용', '총이윤']].round(-1).astype('int')

In [52]:
sales_df_copy.head()

,권역,국가,상품종류,판매채널,우선순위,주문일자,주문ID,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2011-02-12,4484,651,525,2920030,2353920,566100
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,2016-01-23,1075,47,32,51010,34170,16830
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,141515767,2011-02-01,6515,154,91,1003700,592410,411290
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,500364005,2012-10-06,7683,668,503,5134320,3861010,1273300
4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,127481591,2015-12-05,3491,47,32,165650,110980,54670

In [53]:
# loc[]: 특정 행이나 열을 추출할 때 사용하는 함수   ex) loc[특정 행의 수, 특정 열의 수, 열의 이름]
# 열만 지정하고 싶은 경우 loc[ : , 열의 수 아니면 열의 이름]

sales_df_copy.loc[1 : 3, "단가" : "총수익"]

    단가   원가      총수익
1   47   32    51010
2  154   91  1003700
3  668  503  5134320

In [54]:
sales_df_copy.loc[:, "단가" : "총수익"]

       단가   원가      총수익
0     651  525  2920030
1      47   32    51010
2     154   91  1003700
3     668  503  5134320
4      47   32   165650
...   ...  ...      ...
9995   47   32   407930
9996  437  263   245710
9997  154   91   388850
9998  422  365  3672970
9999  153   97    55080

[10000 rows x 3 columns]

In [57]:
# 해당하는 칼럼의 데이터의 개수
# 해당하는 칼럼의 데이터를 그룹화하여 카운트

sales_df_copy["판매채널"].value_counts()

Online     5061
Offline    4939
Name: 판매채널, dtype: int64

In [59]:
# 그룹화
# groupby(칼럼의 이름): 칼럼의 데이터가 같은 값들끼리 그룹화하여 표시

sales_df_copy.groupby('국가').mean()['총이윤']  # 국가로 묶어서 총이윤의 평균을 낸것

국가
Afghanistan     389441.186441
Albania         356073.090909
Algeria         433840.784314
Andorra         320267.884615
Angola          362891.481481
                    ...
Vatican City    303185.714286
Vietnam         410797.017544
Yemen           354614.468085
Zambia          393958.000000
Zimbabwe        358891.694915
Name: 총이윤, Length: 185, dtype: float64

In [60]:
sales_df_copy.groupby('국가').get_group('United Kingdom')

,권역,국가,상품종류,판매채널,우선순위,주문일자,주문ID,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
142,Europe,United Kingdom,Meat,Online,H,2013-12-29,462706220,2014-02-03,3908,422,365,1648750,1425210,223540
144,Europe,United Kingdom,Office Supplies,Offline,M,2017-06-24,349245774,2017-07-10,8440,651,525,5496210,4430660,1065550
324,Europe,United Kingdom,Cosmetics,Online,M,2017-04-06,315704858,2017-05-17,2938,437,263,1284490,773660,510830
387,Europe,United Kingdom,Cosmetics,Offline,L,2016-09-14,815177237,2016-10-16,7914,437,263,3460000,2083990,1376010
534,Europe,United Kingdom,Clothes,Offline,H,2011-06-29,753352963,2011-08-06,2738,109,36,299210,98130,201080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9510,Europe,United Kingdom,Fruits,Offline,L,2010-09-07,739626920,2010-10-18,897,9,7,8370,6210,2160
9555,Europe,United Kingdom,Office Supplies,Online,H,2011-08-05,282319724,2011-08-18,3535,651,525,2302030,1855730,446290
9618,Europe,United Kingdom,Cereal,Offline,L,2012-10-22,612341725,2012-10-28,4379,206,117,900760,512820,387940
9865,Europe,United Kingdom,Baby Food,Offline,C,2014-02-19,871759402,2014-03-07,1834,255,159,468180,292380,175810
9878,Europe,United Kingdom,Beverages,Offline,C,2015-01-26,208925473,2015-02-01,4545,47,32,215660,144490,71170

In [61]:
# 데이터프레임의 정렬
# sort_values()는 기본적으로 오름차순 정렬
# sort_values(기준이 되는 칼럼의 이름, 옵션)
# 옵션 ascending = bool
# True = 오름차순 정렬(기본값), False = 내림차순 정렬

sales_df_copy.sort_values("주문일자")

,권역,국가,상품종류,판매채널,우선순위,주문일자,주문ID,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
4535,Sub-Saharan Africa,Central African Republic,Vegetables,Online,H,2010-01-01,506209075,2010-02-04,7369,154,91,1135270,670060,465200
5104,Asia,China,Cereal,Online,C,2010-01-01,863776719,2010-02-10,9581,206,117,1970810,1122030,848780
4193,Europe,Sweden,Clothes,Online,H,2010-01-02,907228076,2010-02-21,7803,109,36,852710,279660,573050
7005,Sub-Saharan Africa,Equatorial Guinea,Snacks,Offline,M,2010-01-02,335552775,2010-02-12,6378,153,97,973160,621470,351680
9127,Asia,Mongolia,Cosmetics,Offline,C,2010-01-02,695167052,2010-01-22,4234,437,263,1851100,1114940,736170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3234,Sub-Saharan Africa,Ghana,Snacks,Offline,C,2017-07-28,861848104,2017-09-06,8861,153,97,1352010,863420,488600
3232,Europe,Ireland,Vegetables,Online,H,2017-07-28,126010453,2017-09-02,8148,154,91,1255280,740900,514380
2012,Asia,Thailand,Cosmetics,Offline,C,2017-07-28,651951730,2017-08-07,5860,437,263,2561990,1543110,1018880
4420,Sub-Saharan Africa,Kenya,Baby Food,Offline,M,2017-07-28,204962670,2017-08-06,1864,255,159,475840,297160,178680
2003,Middle East and North Africa,Azerbaijan,Clothes,Online,H,2017-07-28,456617820,2017-07-28,2215,109,36,242060,79390,162670

In [63]:
# sales_df_copy 발송일자를 기준으로 내림차순 정렬

sales_df_copy.sort_values("주문일자", ascending = False)

,권역,국가,상품종류,판매채널,우선순위,주문일자,주문ID,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
3232,Europe,Ireland,Vegetables,Online,H,2017-07-28,126010453,2017-09-02,8148,154,91,1255280,740900,514380
2003,Middle East and North Africa,Azerbaijan,Clothes,Online,H,2017-07-28,456617820,2017-07-28,2215,109,36,242060,79390,162670
3234,Sub-Saharan Africa,Ghana,Snacks,Offline,C,2017-07-28,861848104,2017-09-06,8861,153,97,1352010,863420,488600
1930,Australia and Oceania,Tonga,Personal Care,Offline,L,2017-07-28,134433019,2017-08-30,572,82,57,46750,32420,14330
76,Sub-Saharan Africa,Senegal,Fruits,Offline,H,2017-07-28,672654092,2017-07-31,2148,9,7,20040,14860,5180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,Asia,Mongolia,Cosmetics,Offline,C,2010-01-02,695167052,2010-01-22,4234,437,263,1851100,1114940,736170
4193,Europe,Sweden,Clothes,Online,H,2010-01-02,907228076,2010-02-21,7803,109,36,852710,279660,573050
7005,Sub-Saharan Africa,Equatorial Guinea,Snacks,Offline,M,2010-01-02,335552775,2010-02-12,6378,153,97,973160,621470,351680
5104,Asia,China,Cereal,Online,C,2010-01-01,863776719,2010-02-10,9581,206,117,1970810,1122030,848780
4535,Sub-Saharan Africa,Central African Republic,Vegetables,Online,H,2010-01-01,506209075,2010-02-04,7369,154,91,1135270,670060,465200

In [64]:
# 권역, 국가를 기준으로 오름차순 정렬

sales_df_copy.sort_values(['권역', '국가'])

,권역,국가,상품종류,판매채널,우선순위,주문일자,주문ID,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
36,Asia,Bangladesh,Personal Care,Online,L,2016-12-11,246147668,2017-01-13,9420,82,57,769900,533830,236070
246,Asia,Bangladesh,Cosmetics,Offline,M,2010-07-29,897369992,2010-09-11,577,437,263,252260,151940,100320
446,Asia,Bangladesh,Vegetables,Offline,C,2014-04-28,338031995,2014-05-05,34,154,91,5240,3090,2150
569,Asia,Bangladesh,Cereal,Offline,L,2010-06-22,202657687,2010-06-28,9768,206,117,2009280,1143930,865350
576,Asia,Bangladesh,Office Supplies,Online,H,2013-03-20,793718278,2013-04-11,7731,651,525,5034500,4058470,976040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8747,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,2013-11-27,382058417,2014-01-09,8431,109,36,921340,302170,619170
9025,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,M,2013-03-11,487866199,2013-03-11,9304,255,159,2375130,1483240,891880
9219,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,H,2010-06-09,855881583,2010-07-20,3235,109,36,353520,115940,237580
9541,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,C,2015-11-20,436287105,2015-11-27,5904,9,7,55080,40860,14230
9645,Sub-Saharan Africa,Zimbabwe,Cereal,Online,H,2010-02-15,243301951,2010-03-01,7309,206,117,1503460,855960,647500

In [66]:
# 컬럼이나 인덱스 삭제
# axis 속성을 통하여 인덱스를 삭제할지, 컬럼을 삭제할지 지정
# inplace 속성은 기준이 되는 데이터를 수정 할지 지정

sales_df_copy.drop(['주문ID'], axis = 'columns', inplace = True)

In [67]:
sales_df_copy.head()

,권역,국가,상품종류,판매채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,2011-02-12,4484,651,525,2920030,2353920,566100
1,Europe,Latvia,Beverages,Online,C,2015-12-28,2016-01-23,1075,47,32,51010,34170,16830
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,2011-02-01,6515,154,91,1003700,592410,411290
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,2012-10-06,7683,668,503,5134320,3861010,1273300
4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,2015-12-05,3491,47,32,165650,110980,54670

In [69]:
# 인덱스의 값이 0인 행을 삭제

sales_df_copy.drop([0], axis = 'rows', inplace = True)

In [70]:
sales_df_copy.head()

,권역,국가,상품종류,판매채널,우선순위,주문일자,발송일자,판매단위,단가,원가,총수익,총비용,총이윤
1,Europe,Latvia,Beverages,Online,C,2015-12-28,2016-01-23,1075,47,32,51010,34170,16830
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,2011-02-01,6515,154,91,1003700,592410,411290
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,2012-10-06,7683,668,503,5134320,3861010,1273300
4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,2015-12-05,3491,47,32,165650,110980,54670
5,Sub-Saharan Africa,South Africa,Beverages,Offline,H,2012-07-10,2012-08-21,9880,47,32,468810,314090,154720

In [71]:
# 1. sales_df를 copy()
# 2. Region, Country 기준으로 오름차순 정렬
# 3. Order Priority 칼럼을 삭제

# 4. 인덱스 재지정: 오름차순으로 인해 뒤섞인 인덱스를 다시 순서대로 설정


sales_df_copy2 = sales_df.copy()

In [73]:
sales_df_copy2 = sales_df_copy2.sort_values(['Region', 'Country'])

In [78]:
sales_df_copy2.drop(['Order Priority'], axis = 'columns', inplace = True)

KeyError: "['Order Priority'] not found in axis"

In [79]:
sales_df_copy2.head()

,Region,Country,Item Type,Sales Channel,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
36,Asia,Bangladesh,Personal Care,Online,12/11/2016,246147668,1/13/2017,9420,81.73,56.67,769896.60,533831.40,236065.20
246,Asia,Bangladesh,Cosmetics,Offline,7/29/2010,897369992,9/11/2010,577,437.20,263.33,252264.40,151941.41,100322.99
446,Asia,Bangladesh,Vegetables,Offline,4/28/2014,338031995,5/5/2014,34,154.06,90.93,5238.04,3091.62,2146.42
569,Asia,Bangladesh,Cereal,Offline,6/22/2010,202657687,6/28/2010,9768,205.70,117.11,2009277.60,1143930.48,865347.12
576,Asia,Bangladesh,Office Supplies,Online,3/20/2013,793718278,4/11/2013,7731,651.21,524.96,5034504.51,4058465.76,976038.75

In [83]:
# 인덱스 값 재지정

# sales_df_copy2.reset_index().drop(['index'], axis = 'columns')

sales_df_copy2.reset_index(drop = True)

,Region,Country,Item Type,Sales Channel,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Asia,Bangladesh,Personal Care,Online,12/11/2016,246147668,1/13/2017,9420,81.73,56.67,769896.60,533831.40,236065.20
1,Asia,Bangladesh,Cosmetics,Offline,7/29/2010,897369992,9/11/2010,577,437.20,263.33,252264.40,151941.41,100322.99
2,Asia,Bangladesh,Vegetables,Offline,4/28/2014,338031995,5/5/2014,34,154.06,90.93,5238.04,3091.62,2146.42
3,Asia,Bangladesh,Cereal,Offline,6/22/2010,202657687,6/28/2010,9768,205.70,117.11,2009277.60,1143930.48,865347.12
4,Asia,Bangladesh,Office Supplies,Online,3/20/2013,793718278,4/11/2013,7731,651.21,524.96,5034504.51,4058465.76,976038.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,11/27/2013,382058417,1/9/2014,8431,109.28,35.84,921339.68,302167.04,619172.64
9996,Sub-Saharan Africa,Zimbabwe,Baby Food,Offline,3/11/2013,487866199,3/11/2013,9304,255.28,159.42,2375125.12,1483243.68,891881.44
9997,Sub-Saharan Africa,Zimbabwe,Clothes,Offline,6/9/2010,855881583,7/20/2010,3235,109.28,35.84,353520.80,115942.40,237578.40
9998,Sub-Saharan Africa,Zimbabwe,Fruits,Offline,11/20/2015,436287105,11/27/2015,5904,9.33,6.92,55084.32,40855.68,14228.64
9999,Sub-Saharan Africa,Zimbabwe,Cereal,Online,2/15/2010,243301951,3/1/2010,7309,205.70,117.11,1503461.30,855956.99,647504.31

In [84]:
# 파생변수 생성
# 1. 원가, 단가, 판매단위 값을 기준으로 총수익, 총비용, 총이윤이라고 하는 새로운 칼럼을 생성
# 2. 총수익 = 단가 * 판매단위
#    총비용 = 원가 * 판매단위
#    총이윤 = 총수익 - 총비용

In [86]:
# 새로운 칼럼을 추가하는 방법
# 데이터프레임명[새로운 칼럼의 이름] = 칼럼에 들어갈 값(Series, list)
# 단가 컬럼 * 판매단위 컬럼

sales_df_copy2['총수익'] = sales_df_copy2['Unit Price'] * sales_df_copy2['Units Sold']

sales_df_copy2.head()

,Region,Country,Item Type,Sales Channel,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,총수익
36,Asia,Bangladesh,Personal Care,Online,12/11/2016,246147668,1/13/2017,9420,81.73,56.67,769896.60,533831.40,236065.20,769896.60
246,Asia,Bangladesh,Cosmetics,Offline,7/29/2010,897369992,9/11/2010,577,437.20,263.33,252264.40,151941.41,100322.99,252264.40
446,Asia,Bangladesh,Vegetables,Offline,4/28/2014,338031995,5/5/2014,34,154.06,90.93,5238.04,3091.62,2146.42,5238.04
569,Asia,Bangladesh,Cereal,Offline,6/22/2010,202657687,6/28/2010,9768,205.70,117.11,2009277.60,1143930.48,865347.12,2009277.60
576,Asia,Bangladesh,Office Supplies,Online,3/20/2013,793718278,4/11/2013,7731,651.21,524.96,5034504.51,4058465.76,976038.75,5034504.51

In [88]:
# 총비용, 총이윤 생성

sales_df_copy2['총비용'] = sales_df_copy2['Unit Cost'] * sales_df_copy2['Units Sold']
sales_df_copy2['총이윤'] = sales_df_copy2['총수익'] - sales_df_copy2['총비용']

sales_df_copy2.head()

,Region,Country,Item Type,Sales Channel,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,총수익,총비용,총이윤
36,Asia,Bangladesh,Personal Care,Online,12/11/2016,246147668,1/13/2017,9420,81.73,56.67,769896.60,533831.40,236065.20,769896.60,533831.40,236065.20
246,Asia,Bangladesh,Cosmetics,Offline,7/29/2010,897369992,9/11/2010,577,437.20,263.33,252264.40,151941.41,100322.99,252264.40,151941.41,100322.99
446,Asia,Bangladesh,Vegetables,Offline,4/28/2014,338031995,5/5/2014,34,154.06,90.93,5238.04,3091.62,2146.42,5238.04,3091.62,2146.42
569,Asia,Bangladesh,Cereal,Offline,6/22/2010,202657687,6/28/2010,9768,205.70,117.11,2009277.60,1143930.48,865347.12,2009277.60,1143930.48,865347.12
576,Asia,Bangladesh,Office Supplies,Online,3/20/2013,793718278,4/11/2013,7731,651.21,524.96,5034504.51,4058465.76,976038.75,5034504.51,4058465.76,976038.75