In [2]:
# 1. corona.csv 로드 - 데이터프레임화
# 2. 데이터를 복사본 생성
# 3. 결측치가 존재하는지 확인
# 4. 컬럼의 이름 변경 → 등록일시, 사망자, 확진자, 게시글번호, 기준일, 기준시간, 수정일시, 누적의심자, 누적확진률
# 5. 결측치가 존재하는 컬럼 삭제
# 6. 등록일시를 기준으로 오름차순 정렬
# 7. 인덱스의 값을 재지정(기존의 인덱스 값 삭제)
# 8. 등록일시 데이터의 형태를 datetime으로 변경

In [3]:
pip install requests

Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests) (1.26.12)
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install xmltodict

Requirement already satisfied: xmltodict in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.13.0)
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [5]:
import requests
from urllib import parse
import xmltodict
import json
import pandas as pd
import numpy as np
import datetime

In [6]:
# 1. corona.csv 로드 - 데이터프레임화

prac0831 = pd.read_csv('../csv/corona.csv')

prac0831.head()

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [7]:
prac0831 = prac0831.drop(['Unnamed: 0'], axis = 'columns')

prac0831.head()

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [8]:
# 2. 데이터를 복사본 생성

prac0831_copy = prac0831.copy()

prac0831_copy.head()

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [9]:
# 3. 결측치가 존재하는지 확인

prac0831_copy.isna().sum()

createDt        0
deathCnt        0
decideCnt       0
seq             0
stateDt         0
stateTime       0
updateDt        3
accExamCnt    128
accDefRate    197
dtype: int64

In [10]:
# 4. 컬럼의 이름 변경 → 등록일시, 사망자, 확진자, 게시글번호, 기준일, 기준시간, 수정일시, 누적의심자, 누적확진률

prac0831_copy.columns = ['등록일시', '사망자', '확진자', '게시글번호', '기준일', '기준시간', '수정일시', '누적의심자', '누적확진률']

prac0831_copy.head()

,등록일시,사망자,확진자,게시글번호,기준일,기준시간,수정일시,누적의심자,누적확진률
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN

In [13]:
# 5. 결측치가 존재하는 컬럼 삭제

prac0831_copy = prac0831_copy.dropna(axis = 'columns')

prac0831_copy

                        등록일시    사망자       확진자  게시글번호       기준일   기준시간
0    2022-06-08 09:09:05.982  24305  18188200    904  20220608  00:00
1    2022-06-07 09:09:00.897  24299  18174842    903  20220607  00:00
2    2022-06-06 09:00:06.734  24279  18168670    902  20220606  00:00
3    2022-06-05 08:53:19.426  24258  18163648    901  20220605  00:00
4    2022-06-04 08:56:49.219  24238  18153814    900  20220604  00:00
..                       ...    ...       ...    ...       ...    ...
815  2020-03-14 00:00:00.000     72      8086     55  20200314  00:00
816  2020-03-13 00:00:00.000     67      7979     54  20200313  00:00
817  2020-03-12 00:00:00.000     66      7869     53  20200312  00:00
818  2020-03-11 00:00:00.000     60      7755     52  20200311  00:00
819  2020-03-10 00:00:00.000     54      7513     51  20200310  00:00

[820 rows x 6 columns]

In [14]:
# 6. 등록일시를 기준으로 오름차순 정렬

prac0831_copy = prac0831_copy.sort_values('등록일시')

prac0831_copy

                        등록일시    사망자       확진자  게시글번호       기준일   기준시간
819  2020-03-10 00:00:00.000     54      7513     51  20200310  00:00
818  2020-03-11 00:00:00.000     60      7755     52  20200311  00:00
817  2020-03-12 00:00:00.000     66      7869     53  20200312  00:00
816  2020-03-13 00:00:00.000     67      7979     54  20200313  00:00
815  2020-03-14 00:00:00.000     72      8086     55  20200314  00:00
..                       ...    ...       ...    ...       ...    ...
4    2022-06-04 08:56:49.219  24238  18153814    900  20220604  00:00
3    2022-06-05 08:53:19.426  24258  18163648    901  20220605  00:00
2    2022-06-06 09:00:06.734  24279  18168670    902  20220606  00:00
1    2022-06-07 09:09:00.897  24299  18174842    903  20220607  00:00
0    2022-06-08 09:09:05.982  24305  18188200    904  20220608  00:00

[820 rows x 6 columns]

In [15]:
# 7. 인덱스의 값을 재지정(기존의 인덱스 값 삭제)

prac0831_copy = prac0831_copy.reset_index(drop = True)

prac0831_copy

                        등록일시    사망자       확진자  게시글번호       기준일   기준시간
0    2020-03-10 00:00:00.000     54      7513     51  20200310  00:00
1    2020-03-11 00:00:00.000     60      7755     52  20200311  00:00
2    2020-03-12 00:00:00.000     66      7869     53  20200312  00:00
3    2020-03-13 00:00:00.000     67      7979     54  20200313  00:00
4    2020-03-14 00:00:00.000     72      8086     55  20200314  00:00
..                       ...    ...       ...    ...       ...    ...
815  2022-06-04 08:56:49.219  24238  18153814    900  20220604  00:00
816  2022-06-05 08:53:19.426  24258  18163648    901  20220605  00:00
817  2022-06-06 09:00:06.734  24279  18168670    902  20220606  00:00
818  2022-06-07 09:09:00.897  24299  18174842    903  20220607  00:00
819  2022-06-08 09:09:05.982  24305  18188200    904  20220608  00:00

[820 rows x 6 columns]

In [25]:
# 8. 등록일시 데이터의 형태를 datetime으로 변경
# .dt.strftime('%Y-%m-%d'): Y, m, d 까지만 출력

prac0831_copy['등록일시'] = pd.to_datetime(prac0831_copy['등록일시'].dt.strftime('%Y-%m-%d'), format = '%Y-%m-%d')

prac0831_copy

          등록일시    사망자       확진자  게시글번호       기준일   기준시간
0   2020-03-10     54      7513     51  20200310  00:00
1   2020-03-11     60      7755     52  20200311  00:00
2   2020-03-12     66      7869     53  20200312  00:00
3   2020-03-13     67      7979     54  20200313  00:00
4   2020-03-14     72      8086     55  20200314  00:00
..         ...    ...       ...    ...       ...    ...
815 2022-06-04  24238  18153814    900  20220604  00:00
816 2022-06-05  24258  18163648    901  20220605  00:00
817 2022-06-06  24279  18168670    902  20220606  00:00
818 2022-06-07  24299  18174842    903  20220607  00:00
819 2022-06-08  24305  18188200    904  20220608  00:00

[820 rows x 6 columns]

In [16]:
# 일일확진자 수

# shift():
#  shift(n) → n을 공란으로 두게 되면 기본값이 1
#  n값 만큼 인덱스를 이동하여 그 행의 값을 가지게 된다.

# diff():
#  한 객체 내에서 열과 열 / 행과 행 차이를 출력

In [18]:
# shift() 함수 이용
# 괄호 안에 숫자 만큼 행을 이동

prac0831_copy['확진자'] - prac0831_copy['확진자'].shift()       # 0이 결측치가 나온 이유는 첫 날 확진자 수가 일일확진자수 여서

0          NaN
1        242.0
2        114.0
3        110.0
4        107.0
        ...
815    12039.0
816     9834.0
817     5022.0
818     6172.0
819    13358.0
Name: 확진자, Length: 820, dtype: float64

In [19]:
# diff() 함수 이용

prac0831_copy['확진자'].diff()

0          NaN
1        242.0
2        114.0
3        110.0
4        107.0
        ...
815    12039.0
816     9834.0
817     5022.0
818     6172.0
819    13358.0
Name: 확진자, Length: 820, dtype: float64

In [28]:
# 일일확진자, 일일사망자 컬럼 추가

prac0831_copy['일일사망자'] = prac0831_copy['사망자'] - prac0831_copy['사망자'].shift()
prac0831_copy['일일확진자'] = prac0831_copy[['확진자']].diff()

prac0831_copy

          등록일시    사망자       확진자  게시글번호       기준일   기준시간    일일확진자  일일사망자
0   2020-03-10     54      7513     51  20200310  00:00      NaN    NaN
1   2020-03-11     60      7755     52  20200311  00:00    242.0    6.0
2   2020-03-12     66      7869     53  20200312  00:00    114.0    6.0
3   2020-03-13     67      7979     54  20200313  00:00    110.0    1.0
4   2020-03-14     72      8086     55  20200314  00:00    107.0    5.0
..         ...    ...       ...    ...       ...    ...      ...    ...
815 2022-06-04  24238  18153814    900  20220604  00:00  12039.0    9.0
816 2022-06-05  24258  18163648    901  20220605  00:00   9834.0   20.0
817 2022-06-06  24279  18168670    902  20220606  00:00   5022.0   21.0
818 2022-06-07  24299  18174842    903  20220607  00:00   6172.0   20.0
819 2022-06-08  24305  18188200    904  20220608  00:00  13358.0    6.0

[820 rows x 8 columns]