In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import seaborn as sns
import numpy as np
import datetime
import os

In [2]:
# 1. drink.csv 파일 로드
# 2. 결측치 확인
# 3. continent 칼럼에 결측치 존재 → 결측치는 'OT'로 변경
# 4. continent별 spirit_servings 칼럼의 평균, 최소, 최대, 합을 bar형으로 출력(하나씩, 합쳐서 출력)
# 5. total_liters_of_pure_alchol 칼럼의 평균보다 높은 continent가 어디인지

In [12]:
# 1. drink.csv 파일 로드

drink = pd.read_csv('../csv/drinks.csv')

drink

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [5]:
# 2. 결측치 확인

drink.isna().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [9]:
# 3. continent 칼럼에 결측치 존재 → 결측치는 'OT'로 변경

drink['continent'] = drink['continent'].fillna('OT')

drink.isna().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [10]:
# 4. continent별 spirit_servings 칼럼의 평균, 최소, 최대, 합을 bar형으로 출력(하나씩, 합쳐서 출력)

drink['continent'].unique()       # 칼럼의 종류 확인

array(['AS', 'EU', 'AF', 'OT', 'SA', 'OC'], dtype=object)

In [14]:
# df.groupby(["~별"])["~의"]

means = drink.groupby('continent')['spirit_servings'].mean()
mins = drink.groupby('continent')['spirit_servings'].min()
maxs = drink.groupby('continent')['spirit_servings'].max()
sums = drink.groupby('continent')['spirit_servings'].sum()