In [2]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ohyoulooknice/Library/Python/3.10/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in /Users/ohyoulooknice/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
pd_list = pd.Series([5000, 6000, 6500, 7000],
            index = ["아메리카노", "카페라떼", "카페모카", "카푸치노"])

print(pd_list)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     7000
dtype: int64

In [8]:
print("시리즈의 값: ", pd_list.values)
print("시리즈의 인덱스 값: ", pd_list.index)

시리즈의 값:  [5000 6000 6500 7000]
시리즈의 인덱스 값:  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [9]:
_value = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
_index = ['a', 'b', 'c']
_columns = ['A', 'B', 'C']

pd_df = pd.DataFrame(_value, index = _index, columns = _columns)

pd_df           # print()를 쓰지 않는게 보기에 편하다.

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [11]:
print("데이터프레임의 값: ", pd_df._values)
print("데이터프레임의 인덱스 값: ", pd_df.index)
print("데이터프레임의 칼럼 값: ", pd_df.columns)

데이터프레임의 값:  [[1 2 3]
 [4 5 6]
 [7 8 9]]
데이터프레임의 인덱스 값:  Index(['a', 'b', 'c'], dtype='object')
데이터프레임의 칼럼 값:  Index(['A', 'B', 'C'], dtype='object')

In [13]:
# 딕셔너리 형태의 데이터를 데이터프레임으로 변경

_values = {
    "name": ['A', 'B', 'C'],
    "age": [20, 30, 40],
    "phone": ['010123', '010456', '010789']
}

pd_df2 = pd.DataFrame(_values)

pd_df2

  name  age   phone
0    A   20  010123
1    B   30  010456
2    C   40  010789

In [14]:
# head()

pd_df2.head(2)

  name  age   phone
0    A   20  010123
1    B   30  010456

In [15]:
# tail()

pd_df2.tail(2)

  name  age   phone
1    B   30  010456
2    C   40  010789

In [16]:
# columns

pd_df2["age"]

0    20
1    30
2    40
Name: age, dtype: int64

### 경로 지정

1. 절대 경로 - 절대적인 주소(누가 들어가도 똑같은 페이지)   ex) url, c:/users/test.txt
2. 상대 경로 - 작업중인 환경에서 현재, 상위, 하위 폴더를 경로로 지정       ex) './': 현재 작업중인 디렉토리, '../': 상위 디렉토리, './폴더명/': 하위 디렉토리로 이동

In [5]:
csv_df = pd.read_csv("example.csv")

csv_df

  Name  Gender          Phone
0    A    male  010-1234-5678
1    B  female  010-1234-5679
2    C    male  010-1234-5680
3    D  female  010-1234-5681
4    E    male  010-1234-5682
5    F  female  010-1234-5683
6    G    male  010-1234-5684
7    H  female  010-1234-5685
8    I    male  010-1234-5686
9    J  female  010-1234-5687