In [6]:
a = 10
b = "Hello world"

print(a)
print(b)

print(type(a))
print(type(b))

10
Hello world
<class 'int'>
<class 'str'>

In [7]:
# 연산자

x = 5
y = 3

print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

8 2 15 1.6666666666666667 1 2 125

In [8]:
# 대입 연산자
# x는 5인 상태

x += 1

print(x)

6

In [9]:
# x는 6인 상태

x -= 3

print(x)

3

In [10]:
# 비교 연산자

a = 5
b = 3

print(a == b, a != b, a > b, a < b, a >= b, a <= b)

False True True False True False

In [24]:
a = 10

print((a > 5) and (a < 15))
print((a < 5) and (a < 15))

print((a > 5) or (a > 15))

print(not(a == 10))

True
False
True
False

### if문
1. 조건식이 참인 경우 코드가 실행 (들여쓰기 한 코드가 실행)
2. 조건식이 거짓인 경우 코드가 실행 되지 않는다.
3. 거짓일 때의 코드를 실행하려면 else문을 사용해야 한다.

In [26]:
a = 15

if a < 10 :
    print("a는 10보다 작다.")           # a가 10보다 작은 경우 실행

else :
    print("a는 10보다 크거나 같다.")     # 그 외의 경우에 실행

a는 10보다 크거나 같다.

In [4]:
score = int(input("점수를 입력해주세요: "))

if score >= 90 :
    print("A")

elif score >= 80 :
    print("B")

elif score >= 70 :
    print("C")

else :
    print("F")

A

### 반복문
1. for문
2. while문

In [5]:
# for문
# for 변수명 in range(시작값, 종료값, 증가값) :

for i in range(0, 5, 1) :
    print(i)

0
1
2
3
4

In [6]:
for i in range(10, 1, -1) :
    print(i)

10
9
8
7
6
5
4
3
2

In [7]:
for i in range(0, 10, 2) :
    print(i)

0
2
4
6
8

In [24]:
# for문을 이용해서 1부터 10까지의 합계를 출력하시오

sum = 0

for i in range(1, 11, 1) :
    sum += i          # sum = sum + i

print(sum)

55

In [32]:
# 1부터 50까지의 짝수의 합계를 구사는 식(for + if)
'''
sum = 0

for i in range(2, 51, 2) :
    sum += i

print(sum)
'''

sum = 0

for i in range(1, 51, 1) :
    if i % 2 == 0 :
        sum += i

print(sum)

650

In [22]:
# 주사위 2개를 굴려서 합이 10이 되는 경우의 수를 출력하시오(이중 for + if)
# 주사위가 2개 (총 경우의 수 36)

for i in range(1, 7, 1) :               # 1번 주사위를 경우의 수
    for j in range(1, 7, 1) :           # 2번 주사위를 경우의 수
        if i + j == 10 :
            print(i, j)

4 6
5 5
6 4

In [1]:
# break문: 반복문을 종료

for i in range(0, 100, 1) :
    if i == 7 :
        break
    print(i, end=" ")

0 1 2 3 4 5 6

In [2]:
for i in range(0, 100, 1) :
    print(i, end=" ")
    if i == 7 :
        break

0 1 2 3 4 5 6 7

In [8]:
# 1부터 1000까지의 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가?

# 1. 합계를 구하기 위해서는 초기 합계 변수 하나 생성
# 2. for, while 문을 이용하여 1부터 1000까지의 합계를 구하는 반복문 생성
# 3. 합계가 900이 넘어가는 지점에서 i값을 출력
# 4. i값을 출력한 후에 반복문 종료

sum = 0

for i in range(1, 1001, 1) :
    sum += i
    if sum > 900 :
        break

print(sum)

903

In [5]:
# tuple 데이터형태

a = (20, "test")
b = (3, 3.14)
c = a + b
d = a * 3

print(a, b, c, d)

(20, 'test') (3, 3.14) (20, 'test', 3, 3.14) (20, 'test', 20, 'test', 20, 'test')

In [9]:
# 20이라는 숫자를 출력 하려면

print(a[0])

20

In [13]:
a = (10, 20, 30, 40)

a[:3]

(10, 20, 30)

In [14]:
# list 데이터형

a = [20, 10, 50, 5]
b = [10, 20, 30, 40]

In [15]:
# sort(): 오름차순 정렬

a.sort()

a

[5, 10, 20, 50]

In [16]:
# reverse(): 역순으로 정렬

a.reverse()

a

[50, 20, 10, 5]

In [19]:
# append(): 리스트 가장 뒤에 값을 추가

a.append(70)

print(a)

[50, 20, 10, 5, 70, 70, 70]

In [21]:
# 1부터 70까지 3의 배수를 리스트로 만들어서 출력하시오.
# 리스트로 출력을 하려면 비어있는 리스트 변수를 하나 생성

a = []

for i in range(1, 71, 1) :
    if i % 3 == 0:
        a.append(i)

print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [24]:
# 딕셔너리 형태
# {key : value, key2 : value2...}

dict = {"name" : "test", "age" : 20, "phone" : "01012345678"}

In [26]:
print(dict["name"])

test

In [27]:
dict["area"] = "seoul"

In [28]:
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [30]:
# 데이터의 형태 [{ }, { }, { }]

test_data = [
    {"name" : "test",
    "age" : 20},
    {"name2" : "test2",
    "age" : 25},
    {"name3" : "test3",
    "age" : 30}
]

In [31]:
print(test_data)

[{'name': 'test', 'age': 20}, {'name2': 'test2', 'age': 25}, {'name3': 'test3', 'age': 30}]

In [33]:
# test 문구를 출력하려면?

print(test_data[0])

print(test_data[0]["name"])

{'name': 'test', 'age': 20}
test

In [34]:
# 대소문자 변환
# upper(): 모든 문자의 대문자화 
# lower(): 모든 문자의 소문자화
# title(): 각 단어의 첫번째 글자만 대문자화

a = "Hello world"

print(a.upper())
print(a.lower())
print(a.title())

HELLO WORLD
hello world
Hello World

In [36]:
# 공백 제거 함수
# strip()
# replace()

a = "   hello  world  "

print(a)
a

   hello  world

'   hello  world  '

In [37]:
#lstrip(): 왼쪽만 공백 제거
#rstrip(): 오른쪽만 공백 제거

a.strip()
a.lstrip()
a.rstrip()

'   hello  world'

In [38]:
a.replace("hello", "hi")

'   hi  world  '

In [39]:
a.replace(" ", "")

'helloworld'

In [40]:
# split(): 기준이 되는 문자열이나 , . / 등의 특수문자열을 기준으로 문자열을 나눠주는 역할

a = "a,b,c,d,e"

a

'a,b,c,d,e'

In [41]:
a.split(",")

['a', 'b', 'c', 'd', 'e']

In [42]:
# 함수: 뭔가 행동, 데이터를 변환
# def 함수명 (매개변수):

def func_1():
    print("Hello World")

func_1()
func_1()

Hello World
Hello World

In [44]:
# 함수 안에 있는 result 라는 변수는 '지역 변수' 라고 부른다.
# 함수 밖에 있는 x 라는 변수는 '전역 변수' 라고 부른다.

x = 3

def func_2 (a) :
    result = a * x
    return result

print(func_2(5))

15

In [47]:
def func_3 (a, b, c = 5):
    result = a + b - c
    return result

print(func_3(5, 2))
print(func_3(5, 2, 1))

2
6