In [6]:
# 구구단 n단 구하기

n = int(input("몇 단을 구할건지 입력하세요: "))

i = 1

for i in range(1, 10, 1) :
    gugu = n * i
    print(gugu)

14
28
42
56
70
84
98
112
126

In [14]:
# 10 미만의 자연수에서 3과 5의 배수를 구하면 3, 5, 6, 9 이다.
# 이들의 총 합은 23이다.
# 1000 미만의 자연수에서 3의 배수와 5의 배수의 총 합을 구하라.

sum = 0

for i in range(1, 1000) :
    if i % 3 == 0 or i % 5 == 0 :
        sum += i
        
print(sum)

233168

In [1]:
# 1부터 1000까지의 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가?

# 1. 합계를 구하기 위해서는 초기 합계 변수 하나 생성
# 2. for, while 문을 이용하여 1부터 1000까지의 합계를 구하는 반복문 생성
# 3. 합계가 900이 넘어가는 지점에서 i값을 출력
# 4. i값을 출력한 후에 반복문 종료

sum = 0

for i in range(1, 1001, 1) :
    sum += i
    if sum > 900 :
        break

print(sum)

903

In [6]:
# 1부터 70까지 3의 배수를 리스트로 만들어서 출력하시오.
# 리스트로 출력을 하려면 비어있는 리스트 변수를 하나 생성

a = []

for i in range(3, 71, 3) :
    a.append(i)

print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [7]:
dict = {"fruit1" : "apple", "fruit2" : "banana", "fruit3" : "kiwi"}

print(dict["fruit2"])

banana

In [8]:
dict["fruit4"] = "melon"

print(dict)

{'fruit1': 'apple', 'fruit2': 'banana', 'fruit3': 'kiwi', 'fruit4': 'melon'}

In [10]:
# 데이터의 형태 [{ }, { }, { }]

test_data = [
    {"name" : "test",
    "age" : 20},
    {"name2" : "test2",
    "age" : 25},
    {"name3" : "test3",
    "age" : 30}
]

print(test_data)

[{'name': 'test', 'age': 20}, {'name2': 'test2', 'age': 25}, {'name3': 'test3', 'age': 30}]

In [13]:
# test 문구를 출력하려면?

print(test_data[0]["name"])

{'name': 'test', 'age': 20}
test

In [15]:
a = "akja anvow xmca"

a.title()

'Akja Anvow Xmca'

In [21]:
a = "   hello    world   "

a.strip()

a.replace(" ", "")

'helloworld'

In [25]:
a = "a/b/c/d/e"

a.split("/")

['a', 'b', 'c', 'd', 'e']

In [26]:
def add(*args) :
    
    sum = 0
    
    for i in args :
        sum += i
    
    return sum

sum = add(1, 2, 3, 4, 5)

print(sum)

15